.container {
    width: 320px;
    height: 400px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(42, 42, 42);
    margin: 15px 10px;
    padding: 10px 10px;
    border-radius: 20px;
    display: grid;
}
 
.container h2{
    color: white;
}

.element {
    list-style-type: none;
    display: inline-block;
}

.container:hover {
    box-shadow: 6px 6px 20px orange, -6px -6px 20px orange;
}

.image {
    border-radius: 12px;
    width: 100%;
    height: 250px;
}

.link {
    background-color: rgb(60, 59, 59);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px; 
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    background-image: linear-gradient(233deg, rgb(229, 190, 72) 10%, orange 90%);
}
