.wrapper {
    height: 530px;
    width: 1150px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 7px orange;
    background-color: rgb(42, 42, 42);
}

.image {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    height: 105%;
    width: 700px;
}

.image img {
    border-radius: 15px;
    height: 85%;
}

.info {
    float: right;
    height: auto;
    width: 380px;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: rgb(42, 42, 42);
}

.text {
    color: white;
    height: 250px;
    width: 327px;
}

.text h1 {
    margin: -35px 0 0 17px;
    padding-top: 52px;
    font-size: 30px;
    color: white;
}

.text h3 {
    margin: 8px 0 10px 35px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #aaa9a9;
    letter-spacing: 0.2em;
}

.text>p {
    text-align: left;
    height: auto;
    margin: 20px 0 0 15px;
    width: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa9a9;
    line-height: 1.5em;
    margin-bottom: auto;
    font-size: 19px;
    font-weight: lighter;
}

.btns{
    display: inline-block;
    text-align: center;
    margin-top: 245px;
    margin-left: 85px;
}

.actionBtns{
    display: inline-block;
    text-align: center;
    margin-top: 225px;
    margin-left: 130px;
}

.edit, .like, .dislike {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    font-weight: 600;
    padding: 12px 30px;
    height: auto;
    width: auto;
    border-radius: 60px;
    font-size: 20px;
    color: black;
}

.delete {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    font-weight: 600;
    padding: 12px 30px;
    height: auto;
    width: auto;
    border-radius: 60px;
    font-size: 20px;
    color: black;
    margin-left: 10px;
}

.edit:hover {
    background-color: orange;
}

.delete:hover {
    background-color: orange;
}

.like:hover {
    background-color: rgb(27, 231, 27);
}

.dislike:hover {
    background-color: rgb(221, 35, 35);
}
