.wrapper {
    height: 500px;
    width: 1200px;
    margin: auto;
    margin-top: 60px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 0px 3px 10px orange;
    background-color: rgb(42, 42, 42);
}

.image {
    float: left;
    margin-left: 5px;
    margin-top: 15px;
    height: 100%;
    width: 680px;
}

.image img {
    border-radius: 12px;
    height: 85%;
}

.info {
    float: right;
    height: auto;
    width: 500px;
    border-radius: 12px;
    background-color: rgb(42, 42, 42);
}

.text {
    color: white;
    height: 300px;
    width: 327px;
}

.text h1 {
    margin: 0 0 0 17px;
    padding-top: 52px;
    font-size: 28px;
    color: white;
}

.text h3 {
    margin: 8px 0 10px 18px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #aaa9a9;
    letter-spacing: 0.2em;
}

.text>p {
    height: auto;
    margin: 40px 0 0 58px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f5a5a;
    line-height: 1.6em;
    margin-bottom: auto;
    font-size: 21px;
    font-weight: lighter;
    overflow: hidden;
}

.btn {
    text-align: center;
    margin-top: 5em;
    margin-left: 5em;
    position: relative;
}

span {
    display: inline-block;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
}

.btn .edit, .delete{
    height: auto;
    width: auto;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: black;
    display: block;
    margin-left: 0px;
    margin-right: 120px;
    margin-bottom: 10px;
    background-color: gray;
    text-decoration: none;
}

.edit:hover {
    background-color: orange;
}

.delete:hover {
    background-color: orange;
}
